# Build outputs
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.dir/

# IDE
.vs/
.vscode/
*.user
*.suo

# Binaries
*.exe
*.pdb
*.ilk
*.obj
*.lib
*.dll

